<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
        <div class="navigation">
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('project') }}">Projects</a>
            </nav>
        </div>
        <div class="navigation-if-not-logon">
            <nav>
                <a href="{{ url_for('register') }}">Sign up</a>
                <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </div>
    {% block content %}
    {% endblock %}
</body>
</html>