<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registrationLoginStyle.css') }}">
</head>
<body>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
      </dl>
      <p><input type=submit value=Login></p>

      <script>
        const button = document.querySelector("input");
        button.addEventListener("click", sendApiRequest);

        function sendApiRequest() {         
        // document.location.href = 'http://localhost:5012/loginhelp"';
        console.log("hello")
        }
      </script>
    </form>
</body>
</html>